doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    title Hello, world!
  body
    h2.text-center
      | All users
    table.table.table-striped
      thead
        tr
          th(scope="col") ID
          th(scope="col") UserName
          th(scope="col") Email
          th(scope="col") Delete
      tbody
        each n in list
          tr
            td=n._id
            td=n.userName
            td=n.email
            //- td DSP
            //- td DSP
            //- td dsp123@gmail.com
            td
              a(href="showAllUser/delete/"+n._id) Delete

    //- .col-md-6.form-group
    //-   input#searchName.form-control(type="text" name="designation" placeholder="Enter city")
    //- each n in list
    //-     h1=n.name
    //-     p=n.email
    //-     p=n.subject
    //-     form(action="/updateEdit",method="post")
    //-       input(type="hidden",name="id",value=n._id)
    //-       button(class="btn")
    //-         | Edit
    //-     form(action="/deleteEdit",method="post")
    //-       input(type="hidden",name="id",value=n._id)
    //-       button(class="btn" onClick="return confirm('Are You sure want to delete');")
    //-         | Delete
        